$Montserrat: 'Montserrat';
$lato: 'Lato';
$orang: #ffc925;
$text-shadow: 1px 1px 3px rgb(0 0 0 / 30%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container-2 {
    max-width: 1500px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.w-33 {
    width: 33.33%;
    padding: 12px;
}

.w-25 {
    width: 25%;
    padding: 12px;
}

.w-16 {
    width: 16.66%;
    padding: 12px;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

header {
    background-image: url('../img/2.jpg');
    height: 100vh;
    padding: 10px 0;
    background-size: cover;
    background-position: center;


    .logo {
        .img {
            text-align: center;
        }
    }

    .menu {
        ul {

            li {
                i {
                    right: 0;
                    color: white;
                    padding: 10px;
                }

                a {
                    padding: 10px;
                    font-size: 13px;
                    color: white;
                    font-family: $Montserrat;
                    text-transform: uppercase;
                    margin: auto;


                }
            }

        }

    }

    .loop {
        margin: auto;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            text-shadow: $text-shadow;
            color: white;
            font-family: $Montserrat;
            font-size: 60px;
            line-height: 70px;
            padding: 10px;
            font-weight: 900;
            letter-spacing: 4px;
        }

        span {
            letter-spacing: 7px;
            font-weight: 400;
            font-size: 28px;
            line-height: 38px;
            padding: 10px;
            font-family: $lato;
            color: white;
        }

        .btn {
            width: 258px;
            height: 60px;
            background-color: $orang;
            color: white;
            font-family: $Montserrat;
            font-size: 14px;
            margin: auto;
            padding: 20px;
            letter-spacing: 2px;
            border: 2px solid $orang;
            margin-top: 20px;
            font-weight: 900;
            transition: all 1s;
        }

        .btn:hover {
            background-color: #252525;
            border: 2px solid #252525;

        }
    }

}

// slider1
.slider1 {
    .wprt {
        height: 654px;
        background-color: white;

        .co-img {
            padding-top: 80px;
        }

        .service-item {
            padding: 30px 0 0;
            text-align: center;

            h3 {
                font-size: 18px;
                font-family: $Montserrat;
                color: #252525;
                margin: 0px 0px 12px;

            }

            p {
                font-size: 14px;
                font-family: $lato;
                color: #777777;
                line-height: 1.875;
            }

            .button {
                width: 146px;
                height: 40px;
                background-color: $orang;
                font-size: 12px;
                font-family: $Montserrat;
                padding: 12px;
                color: white;
                font-weight: 900;
                margin: 26px auto;
                letter-spacing: 2px;
                transition: all 1s;

            }

            .button:hover {
                background-color: #252525;
                border: 2px solid #252525;

            }
        }
    }
}

// slider2
.slider2 {
    background-image: url(../img/bg-section-facts.jpg);
    position: static;

    .fact {
        height: 279px;
        width: 100%;

    }
}

// slider3
.slider3 {
    height: 930px;

    .works {
        margin: auto;
        text-align: center;

        h2 {
            font-family: $Montserrat;
            color: #252525;
            line-height: 1.5;
            font-size: 2.142em;
            padding-top: 70px;


        }

        .project {
            padding-top: 40px;

            span {
                background-color: white;

                text-align: center;
                height: 34px;
                padding: 4px 20px;
                font-family: $Montserrat;
                font-weight: 900;
                text-transform: uppercase;
                transition: all 1s;
            }

            span:hover {
                background-color: $orang;
                color: white;
            }

            span:first-child {
                background-color: $orang;
                color: white;
            }
        }

    }

    .item {
        padding-top: 40px;

        .image {

            img {
                height: 326px;
                background-size: cover;
            }

        }

    }
}

// slider4
.slider4 {
    height: 962px;

    .speacer {
        text-align: center;
        margin: auto;

        h2 {
            font-family: $Montserrat;
            color: #252525;
            line-height: 1.5;
            font-size: 2.142em;
            padding-top: 70px;
            margin-bottom: 20px;

        }

        p {
            font-size: 1.142em;
            line-height: 1.785em;
            font-family: $lato;
        }

        .abc {
            .icon-text {
                width: 168px;
                height: 128px;
                text-align: center;
                padding-top: 30px;

                .icon {
                    font-size: 52px;
                    font-family: $lato;
                    padding: 33px 0;
                    background-color: #f7f7f7;
                    color: #aeaeae;
                    width: 100%;
                }

                h3 {
                    height: 40px;
                    width: 168px;
                    background-color: rgb(231, 230, 230);
                    font-size: 14px;
                    font-family: $Montserrat;
                    text-align: center;
                    padding: 10px;

                    a {
                        color: #252525;
                    }
                }
            }
        }

        .asse {
            padding-top: 90px;
            height: 500px;

            .accent {
                .icon-wrap {
                    font-size: 45px;
                    text-align: center;
                    background-color: $orang;
                    width: 70px;
                    height: 70px;
                    line-height: 66px;
                    text-align: center;
                    margin-top: 4px;
                    border-radius: 50%;

                    span {
                        i {
                            padding-top: 15px;
                            color: white;
                        }
                    }
                }

                .contect-wrap {
                    display: inline-block;

                    h3 {
                        font-size: 18px;
                        font-family: $Montserrat;
                        color: #252525;
                        margin: 0px 0px 10px;
                    }

                    p {
                        font-size: 14px;
                        font-family: $lato;
                        margin: 0px 0px 20px;
                        color: #777777;
                    }
                }
            }

            .img-box {

                img {
                    height: 503px;
                }

            }
        }
    }
}

//  slider5
.slider5 {
    height: 114px;
    background-color: $orang;

    .promition {
        text-align: center;
        padding-top: 30px;
        align-items: center;

        h2 {
            font-size: 20px;
            color: white;
            font-family: $Montserrat;
            font-weight: 900;
            line-height: 1.5;
        }

        .wrpt-button {
            height: 50px;
            width: 183px;
            background-color: white;
            padding: 15px;
            color: #252525;
            letter-spacing: 2px;
            font-weight: 500;
            transition: all 1s;
        }

        .wrpt-button:hover {
            background-color: #252525;
            color: white;
        }
    }

}

// slider6
.slider6 {
    height: 785px;

    .speacer {
        text-align: center;
        margin: auto;

        h2 {
            font-family: $Montserrat;
            color: #252525;
            line-height: 1.5;
            font-size: 2.142em;
            padding-top: 70px;

        }

        p {
            font-size: 1.142em;
            line-height: 1.785em;
            font-family: $lato;
            padding-top: 30px;
        }
    }

    .cdp {
        padding-top: 40px;

        .castemer {
            height: 340px;

            .wishper {
                background-color: #f7f7f7;

                p {
                    color: #777777;
                    font-size: 14px;
                    font-family: $lato;
                    line-height: 2em;
                    padding: 20px;
                }
            }

            .iner {
                padding-top: 20px;
                text-align: center;
                padding-left: 50px;
                align-items: center;

                img {
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                }

                .happy {
                    padding: 20px;

                    h4 {
                        font-size: 15px;
                        font-family: $Montserrat;
                        color: #252525;

                    }

                    p {
                        font-size: 14px;
                        font-family: $lato;
                        color: #adadad;
                    }
                }

            }
        }
    }
}

// slider7
.slider7 {
    height: 638px;

    .no-margin {
        .img-no {
            img {
                width: 928px;
            }
        }

        .contect-box {
            padding: 8.7% 8% 6% 8%;
            height: 497px;

            h2 {
                font-family: $Montserrat;
                color: #252525;
                line-height: 1.5;
                margin: 0 0 20px;
                font-weight: 900;
            }

            h3 {
                font-size: 16px;
                padding: 13px 40px 13px 0px;
                background-color: #f7f7f7;
                margin-bottom: 10px;
                border-radius: 3px;
                font-family: $Montserrat;

                i {
                    padding-right: 20px;
                }
            }
        }

    }
}

// slider8
.slider8 {
    height: 800px;

    .speacer {
        text-align: center;
        margin: auto;

        h2 {
            font-family: $Montserrat;
            color: #252525;
            line-height: 1.5;
            font-size: 2.142em;
            padding-top: 70px;

        }

        p {
            font-size: 1.142em;
            line-height: 1.785em;
            font-family: $lato;
            padding-top: 30px;
        }
    }

    .cdp {
        padding-top: 40px;

        .castemer {
            height: 365px;
            width: 270px;
            background-color: #f7f7f7;

            .wishper {
                background-color: #f7f7f7;

            }

            .iner {
                margin: auto;
                padding: 20px 0;
                text-align: center;
            }

            .happy {
                padding: 20px;

                h4 {
                    font-size: 15px;
                    font-family: $Montserrat;
                    color: #252525;

                }

                p {
                    font-size: 14px;
                    font-family: $lato;
                    color: #adadad;
                }
            }

        }
    }
}

// slider9
.slider9 {
    height: 160px;
    background-color: #ececec;

    .partners {
        padding: 33px 37px;

        img {
            padding: 20px;
        }
    }
}

footer {
    height: 444px;
    background-color: #1a1a1a;
    padding: 80px 0 70px;

    .widget {
        height: 294px;

        .wids {
            p {
                font-size: 14px;
                font-family: $lato;
                color: #979797;
                padding-top: 20px;
            }

            .info-wrap {
                padding-top: 20px;

                .address-item,
                .phone-item,
                .email-item {
                    margin: 0px 0px 8px;

                    i {
                        color: $orang;
                    }

                    span {
                        font-size: 14px;
                        font-family: $lato;
                        color: #979797;
                        padding-left: 10px;
                    }
                }
            }

        }

        .tittle {
            h2 {
                font-size: 19px;
                font-family: $Montserrat;
                color: white;
                font-weight: 900;
            }
        }

        .tagcloug {
            padding-top: 15px;

            a {
                margin: 0 6px 6px 0;
                padding: 4px 13px;
                color: #626262;
                height: 34px;
                background-color: #252525;
                font-size: 14px;
                font-family: $lato;
                float: left;
                text-align: center;
            }

            a:hover {
                background-color: $orang;
                color: white;
            }
        }

        .link {
            padding-top: 20px;

            ul {
                li {
                    width: 50%;
                    float: left;
                    padding: 0 0 12px;

                    i {
                        color: #4f4f4f;
                    }

                    a {
                        display: inline-block;
                        padding-left: 15px;
                        font-size: 14px;
                        font-family: $lato;
                        color: #979797;
                    }
                }
            }
        }

        .instagram {
            padding-top: 20px;

            .instagram-image {
                padding: 0px 5px;
                margin: 0px 0px 10px 0px;

                .itam {
                    img {
                        width: 80px;
                        height: 80px;
                    }

                }
            }
        }
    }

}

.bottom {
    background-color: #101010;
    padding: 19px 0;

    .bar-contect {
        p {
            font-size: 12px;
            font-family: $Montserrat;
            color: #484848;
            font-weight: 900;
        }

        .bar {
            ul {
                li {
                    a {
                        padding: 0px 10px;
                        font-size: 12px;
                        font-family: $Montserrat;
                        color: #484848;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}